# git
.git
.git/*
.github
.gitattributes
.gitignore

# deps (ติดตั้งใน image แทน)
node_modules

# build outputs
.next
out
dist
.cache
coverage

# misc
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
Thumbs.db
.vscode
.idea
